/* Login Button */

.login-button {
  border: 0;
  border-radius: 50%;
  padding: 0;
  margin: 0;
}

.search-input {
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  padding: 10px;
}

.highlight {
  background-color: yellow; /* Choose a highlighting color */
}

/* Cards */

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}

.card {
  flex: 1;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  min-width: 250px;
  max-width: 250px;
}

.card > h3 {
  margin-top: 0;
  font-size: 14px;
}

.card > p {
  font-size: 12px;
}

/* Snippet creator form */

.create-snippet-card {
  padding: 20px;
  margin: 20px auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* max-width: 500px; */
  width: 100%;
}

/* Tablets (601px and up) */
@media (min-width: 601px) {
  .create-snippet-card {
    max-width: 500px;
  }
}

/* Small laptops (901px and up) */
@media (min-width: 901px) {
  .create-snippet-card {
    max-width: 700px;
  }
}

/* Desktops (1201px and up) */
@media (min-width: 1201px) {
  .create-snippet-card {
    max-width: 900px;
  }
}

.create-snippet-card > form > input,
textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 12px;
}

.create-snippet-card > form > textarea {
  font-size: 12px;
  resize: none;
  overflow: hidden;
}

.create-snippet-card > form > button {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  width: 100%;
  font-size: 12px;
  font-weight: bold;
}

.create-snippet-card > form > button:hover {
  background-color: #ddd;
}

/* Modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  width: 60%;
  height: 80%;
}

.close {
  position: absolute;
  top: -20px;
  right: -18px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  padding: 0 10px 0 10px;
}

.big-display-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.big-display-card-title,
.big-display-card-textarea {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.big-display-card-title {
  font-size: 14px;
  padding: 10px;
}

.big-display-card-textarea {
  font-size: 12px;
  margin-top: 10px;
  flex-grow: 1;
  resize: none;
}

.big-display-card-buttons {
  display: flex;
  justify-content: space-between;
}

.top-bar {
  display: flex;
  justify-content: space-between;
}

.auth-container {
  position: relative;
  display: inline-block;
}

.hover-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  display: none;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.auth-container:hover .hover-button {
  display: block;
  width: 100px;
}

.guest-message {
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
  font-weight: semibold;
  font-size: 18px;
}